@page "/about"

<h3>About</h3>
<PageTitle>Yeek - About</PageTitle>

Yeek is a Project by Simyon.

<h4>Contact me here:</h4>
<ul>
    <li><a href="mailto:service@unstablefoundation.de">serivce@unstablefoundation.de</a></li>
    <li>@@simyon on Discord</li>
    <li><a href="https://steamcommunity.com/id/Simyon264/" target="_blank">Simyon on Steam</a></li>
</ul>

<h4>This project is open source!</h4>
<a href="https://github.com/Simyon264/Yeek" target="_blank">View on GitHub</a>