@page "/faq"
@using Yeek.Components.Layout
<h3>FAQ</h3>

<PageTitle>Yeek - FAQ</PageTitle>

<OpenGraph>
    <meta property="og:title" content="Yeek - FAQ"/>
    <meta property="og:description" content="Frequently asked questions. Did you know you can mount the entire archive as a network share?"/>
    <meta property="og:type" content="website"/>
</OpenGraph>

<h4>How do I get all the MIDIs?</h4>
<p>
    To get access to all the MIDIs, you can mount the entire archive as a "WebDAV" network share.<br/>
    In Windows, you can do this by following these instructions:<br/>
    <ul>
        <li>Open explorer</li>
        <li>Go to "This PC"</li>
        <li>Right click the empty space</li>
        <li>Click "Add Network Location"</li>
        <li>Once the Network Location is open, click next on the Wizard</li>
        <li>Select "Choose a custom network location"</li>
        <li>As the address, type in <i>https://yeek.iterator.systems/webdav</i></li>
        <li>Click next</li>
        <li>Type in a name for the MIDI collection. This can be anything you want.</li>
        <li>Hit next and click finish.</li>
        <li>And you are done! You can now use the MIDIs however you like!</li>
    </ul>
</p>

<h4>Does this cost money?</h4>
<p>
    Nope. No ads either. Never.
</p>

<h4>What are trust levels?</h4>
<p>
    Trust levels are assigned to users based on their contributions. Currently, you are either: A normal user, a trusted user or a Moderator.<br/>
    As of now, being a trusted user doesn't do anything other than giving you fancy text.
</p>

<h4>How should I tag a MIDI?</h4>
<p>
    You should tag a MIDI as accurately as possible.<br/>
    The track name should be, well, the track name. Don't include any track numbers.<br/>
    The album should be the album the track is in. If it's a single release and not part of any album, leave it empty.<br/>
    The author should be the <i>primary</i> author of the track. Any additional features should be in the description.<br/>
    If it's a soundtrack of a game or movie and doesn't explicitly have an Album, follow the template of {game name} OST. For example "Papers Please OST"
</p>

<h4>I've been banned, what now?</h4>
<p>
    You wait until the ban is over, and then make a ticket once the ban has expired for a moderator to then lift it.
</p>

<h4>I want to delete a file, how?</h4>
<p>
    Files can only be deleted by moderators. Make a ticket to request deletion. Include a reason as well.
</p>

<h4>I have a better version of a MIDI, can I replace an existing file with mine?</h4>
<p>
    In short, no. Only admins can do so. If you truly think you would want it replaced, make a ticket and include a reason. Also a link for the file.<br/>
    Otherwise, just upload the MIDI as normal and see how people vote!
</p>

<h4>Can I upload copyrighted content?</h4>
<p>
    Kindly don't. It'll get taken down.
</p>

<h4>Are there any quality requirements?</h4>
<p>
    Not really. If a version is of a lower quality, note it down in the description or track title like so: <i>As You Get High [LQ]</i> where the LQ stands for "Low Quality".
</p>

<h4>My file was taken down, why?</h4>
<p>
    This is probably because you uploaded content that was copyrighted and a valid takedown reqeust was issued.
</p>

<h4>How do votes work?</h4>
<p>
    Votes work on a per item basis. Users can upvote and downvote content to indicate it's quality.
</p>

<h4>How should I behave?</h4>
<p>
    Like a human please. Do not insult each other and please do not start edit wars.
</p>
