@page "/manage"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h3>Manage Account</h3>

<p>There's currently nothing here! If you want to delete your account, please open a ticket or e-mail the data controller.</p>